/*BASE STYLE*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

body{
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat',sans-serif;
}

h1{font-size: 2.7rem;}
h2{font-size: 2.4rem;}
h3{font-size: 2.1rem;}
h4{font-size: 1.8rem;}
h5{font-size: 1.5rem;}
h6{font-size: 1.2rem;}

.p-0{padding: 0;}
.p-10{padding: 10px;}
.p-15{padding: 15px;}
.p-20{padding: 20px;}
.p-30{padding: 30px;}
.p-40{padding: 40px;}
.p-50{padding: 50px;}
.p-60{padding: 60px;}

.pt-0{padding-top: 0;}
.pt-10{padding-top: 10px;}
.pt-15{padding-top: 15px;}
.pt-20{padding-top: 20px;}
.pt-30{padding-top: 30px;}
.pt-40{padding-top: 40px;}

.pb-0{padding-bottom: 0;}
.pb-10{padding-bottom: 10px;}
.pb-15{padding-bottom: 15px;}
.pb-20{padding-bottom: 20px;}
.pb-30{padding-bottom: 30px;}
.pb-40{padding-bottom: 40px;}

.ps-0{padding-left: 0;}
.ps-10{padding-left: 10px;}
.ps-15{padding-left: 15px;}
.ps-20{padding-left: 20px;}
.ps-30{padding-left: 30px;}
.ps-40{padding-left: 40px;}

.pe-0{padding-right: 0;}
.pe-10{padding-right: 10px;}
.pe-15{padding-right: 15px;}
.pe-20{padding-right: 20px;}
.pe-30{padding-right: 30px;}
.pe-40{padding-right: 40px;}

.m-0{margin: 0;}
.m-10{margin: 10px;}
.m-15{margin: 15px;}
.m-20{margin: 20px;}
.m-30{margin: 30px;}
.m-40{margin: 40px;}

.mt-0{margin-top: 0;}
.mt-10{margin-top: 10px;}
.mt-15{margin-top: 15px;}
.mt-20{margin-top: 20px;}
.mt-30{margin-top: 30px;}
.mt-40{margin-top: 40px;}

.mb-0{margin-bottom: 0;}
.mb-10{margin-bottom: 10px;}
.mb-15{margin-bottom: 15px;}
.mb-20{margin-bottom: 20px;}
.mb-30{margin-bottom: 30px;}
.mb-40{margin-bottom: 40px;}

.ms-0{margin-left: 0;}
.ms-10{margin-left: 10px;}
.ms-15{margin-left: 15px;}
.ms-20{margin-left: 20px;}
.ms-30{margin-left: 30px;}
.ms-40{margin-left: 40px;}

.me-0{margin-right: 0;}
.me-10{margin-right: 10px;}
.me-15{margin-right: 15px;}
.me-20{margin-right: 20px;}
.me-30{margin-right: 30px;}
.me-40{margin-right: 40px;}

.container{
    width: 70%;
    margin: 0 auto;
}

.container-fluid{
    width: 95%;
    margin: 0 auto;
}

.light-section{
    background-color: #fff;
    color: #222;
    padding: 80px 0;
}

.dark-section{
    background-color: #222;
    color: #fff;
    padding: 80px 0;
}

.btn{
    display: inline-block;
    padding: 10px 15px;
    border: none;
    background-color: transparent;
    font-size: 1rem;
}

.btn:link{
    color: black;
}

.btn:hover{
    cursor: pointer;
}

.btn.btn-black,
.btn.btn-black:link
.btn.btn-black:visited{
    background-color: #222;
    color: #fff;
    border: solid 1px #222;
}

.btn.btn-black:hover{
    background-color: #fff;
    color: #222;
}

.btn.btn-outline-black:link,
.btn.btn-outline-black:visited{
    color: #222;
    border: solid 1px #222;
}

.btn.btn-outline-black:hover{
    color: #fff;
    background-color: #222;
}

.btn.btn-white,
.btn.btn-white:link
.btn.btn-white:visited{
    background-color: #fff;
    color: #222;
    border: solid 1px #fff;
}

.btn.btn-white:hover{
    background-color: #222;
    color: #fff;
}

.btn.btn-outline-white:link,
.btn.btn-outline-white:visited{
    color: #fff;
    border: solid 1px #fff;
}

.btn.btn-outline-white:hover{
    color: #222;
    background-color: #fff;
}

.btn.btn-primary:link,
.btn.btn-primary:visited{
    background-color: #2079bd;
    color: #fff;
    border: solid 1px #2079bd;
}

.btn.btn-primary:hover{
    background-color: #222;
    color: #fff;
}

.row::after{
    content: '';
    display: block;
    clear: both;
}

.col{
    float: left;
    padding: 0 15px;
}

.col.col-12{width: 100%;}
.col.col-11{width: 91.66%;}
.col.col-10{width: 83.33%;}
.col.col-9{width: 75%;}
.col.col-8{width: 66.66%;}
.col.col-7{width: 58.33%;}
.col.col-6{width: 50%;}
.col.col-5{width: 41.66%;}
.col.col-4{width: 33.33%;}
.col.col-3{width: 25%;}
.col.col-2{width: 16.66%;}
.col.col-1{width: 8.33%;}

.clearfix{clear: both;}

.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-justify{text-align: justify;}

.section-title{
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.section-subtitle{
    font-style: italic;
    color: #777;
    font-size: 1.1rem;
}

.section-header{
    margin-bottom: 25px;
}

ul.tour-dates{
    background-color: #fff;
    color: #222;
    list-style: none;
    border: solid 1px #aaa;
}

ul.tour-dates > li{
    border-bottom: solid 1px #ccc;
    padding: 10px;
    text-transform: capitalize;
}

.pill{
    display: inline-block;
    padding: 2px 5px;
}

.pill.pill-danger{
    background-color: #f4562a;
    color: #fff;
    margin-left: 20px;
}

.badge{
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 100%;
}

.badge.badge-black{
    background-color: #111;
    color: #fff;
}

.card-image{
    position: relative;
    height: 200px;
}

.card-image > .card-image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.card:hover .card-image-overlay{
    display: block;
}

.card-body{
    background-color: #fff;
    color: #222;
}

.tour-location{
    font-weight: normal;
}

.tour-date{
    color: #aaa;
}

.form-control{
    width: 100%;
    padding: 9px 7px;
    border: solid 1px #bbb;
}

body{
    min-height: 2000px;
}

.col.no-gutter {
    padding: 0;
}
  
.navbar {
    background-color: #111;
    position: fixed;
    width: 100%;
    z-index: 99999;
}
  .menu-item {
    display: inline-block;
  }
  
  .menu-item > .menu-item-link {
    display: inline-block;
    padding: 15px 25px;
  }
  
  .menu-item-link:link,
  .menu-item-link:visited {
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .menu-item-link:hover {
    background-color: #AAA;
  }
  
  .has-sub-menu {
    position: relative;
  }
  
  .sub-menu {
    position: absolute;
    background-color: #FFFEFF;
    display: none;
  }
  
  .sub-menu .menu-item .menu-item-link,
  .sub-menu .menu-item {
    display: block;
  }
  .has-sub-menu:hover .sub-menu {
    display: block;
    border: solid 1px #EEE;
    border-top: none;
  }
  
  .sub-menu .menu-item .menu-item-link:link,
  .sub-menu .menu-item .menu-item-link:visited {
    color: #111;
    text-transform: capitalize;
    font-size: 1rem;
    padding: 10px 40px 10px 15px;
  }
  
  
  .nav-search a {
    display: inline-block;
    padding: 15px 25px;
  }
  .nav-search a:visited,
  .nav-search a:link {
    color: #FFF;
  }
  .nav-search a:hover {
    background-color: #F4562A;
  }